<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="F:/Java/FirstTestNGEndToEnd">

        <classes>
            <class name="com.AutomationPractice.BusinessScripts.LoginPageTests">

            </class>
        </classes>
    </test>
</suite>